<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>

<body>
    <h1>Weekday/Weekend = <%= kindOfDay %></h1>
    <h2>Day = <%= dayDay %></h2>
    <h1>testdate = <%= completeDay %></h1>

    <ul>
        <li>buy food</li>
        <li>cook food</li>
        <li>eat food</li>
    </ul>
    <form class="" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Task">
        <button type="submit">Add</button>
    </form>
</body>

</html>